<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <h1>Query Practice</h1>
        <ol>
            <li><a href="/bulkaddproducts" class="btn">Bulk Add Products</a></li>
            <li><a href="/startswithc" class="btn">Products that start with C</a></li>
            <li><a href="/pricebtwn100&200" class="btn">Price Between $100 and $200</a></li>
            <li><a href="/desccontainwordyour" class="btn">Descriptions Contain the word Your</a></li>
            <li><a href="/increasepriceofblenders" class="btn">Increase the Price of Blenders by $10</a></li>
            <li><a href="/deleteallproducts" class="btn">Delete All Products</a></li>
        </ol>
        <%- include('../includes/end.ejs') %>