<div class="sidebar">
    <h1>Menu</h1>
    <ul class="navigation">
        <li class="first">
            <a class='<%= category.toLowerCase() ? "active" : "" %>' href="/menu/burger">BURGERS</a>
        </li>
        <li>
            <a class='<%= category.toLowerCase() ? "active" : "" %>' href="hotdog">HOTDOGS</a>
        </li>
        <li>
            <a href="shake">SHAKES</a>
        </li>
        <li>
            <a href="breakfast">BREAKFAST</a>
        </li>
    </ul>
    <a href="burger" class="download">&nbsp;</a> </div>