<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
               <ol>
                <li><a href="/bulkcreate">Bulk add products</a></li>
                <li><a href="/startswithc">Starts with C</a></li>
                <li><a href="/between100and200">Price between $100 and $200</a></li>
                <li><a href="/containsyour">Descriptions contain the word 'your'</a></li>
                <li><a href="/increaseblenderprice">Increase blender price by $10</a></li>                
                <li><a href="/deleteall">Delete all products</a></li>
               </ol>
            </main>
            <%- include('../includes/end.ejs') %>