<h1><span>Create a blog post</span></h1>
		<form action="/blog/create" method="post">
			<input type="text" name="title" id="title" placeholder="title" required>
			<input type="text" name="summary" id="summary" placeholder="summary">
			<input type="text" name="imageUrl" id="imageUrl" placeholder="imageUrl" required>
            <textarea name="content" id="content" placeholder="CONTENT" required></textarea>
			<input type="submit" value="Create">
		</form>